<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-darkly.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/prism-okaidia.css"/>
    <link rel="stylesheet" href="/css/custom.min.css"/>
    <title>Dashboard</title>
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="/" class="navbar-brand">OLG Maintenance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-md-auto" style="align-items: flex-start;">
                <li class="nav-item btn">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Log Out" class="nav-link input-nav"/>
                    </form>
                </li>
                <li class="nav-item btn">
                    <a rel="noopener" class="nav-link input-nav" href="/ticket-submit">Submit Request</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div th:if="${#request.isUserInRole('ADMIN')}" class="row">
        <h2>User Management</h2>
        <h5 style="margin-top: 20px; margin-bottom: 20px;">Create User</h5>
        <form th:object="${adduser}" th:action="@{/dashboard}" style="display: flex;" method="post">
            <input th:field="*{email}" style="background-color: #fff; width: 20%; margin-right: 5px;" required class="form-control" name="email" placeholder="User's Email"/>
            <input type="submit" value="Add User" class="btn btn-primary"/>
            <div th:if="${param.error}" style="margin-bottom: 20px; color:red;">
                Error creating user, check formatting.
            </div>
        </form>
        <table class="table table-striped table-dark" style="margin-top: 50px;">
            <thead>
            <tr>
                <th scope="col">UID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${users}">
                <tr>
                    <td>
                        <a th:href="@{/register?uid={uid}(uid=${user.uid})}" th:text="${user.uid}"></a>
                    </td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/prism.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>