<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-darkly.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/prism-okaidia.css"/>
    <link rel="stylesheet" href="/css/custom.min.css"/>
    <title>Update Ticket</title>
</head>
<body style="padding-bottom: 150px;">
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="/" class="navbar-brand">OLG Maintenance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-md-auto" style="align-items: flex-start;">
                <li class="nav-item btn">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Log Out" class="nav-link input-nav"/>
                    </form>
                </li>
                <li class="nav-item btn">
                    <a rel="noopener" class="nav-link input-nav" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item btn">
                    <a rel="noopener" class="nav-link input-nav" th:href="@{/view-user?uid={uid}(uid=${userUid})}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>Update Ticket</h2>
        <div class="container">
            <a href="/dashboard" class="btn btn-primary">Back</a>
        </div>
        <form style="margin-top: 20px;" th:object="${newTicket}" th:action="@{/view-ticket}" method="post">
            <div class="form-group">
                <label for="title">Ticket Title</label>
                <input th:value="${ticketTitle}" style="background-color: #fff; width: 50%" required type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea th:value="${ticketDescription}" th:text="${ticketDescription}" style="background-color: #fff; width: 50%" required class="form-control" id="description" name="description" rows="3"></textarea>
                <input type="hidden" th:value="${ticketUid}" id="uid" name="uid">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select th:value="${ticketStatus}" style="background-color: #fff; width: 50%" class="form-control" id="status" name="status">
                    <option th:selected="${ticketStatus == 'Ready'}" value="Ready">Ready</option>
                    <option th:selected="${ticketStatus == 'In Progress'}" value="In Progress">In Progress</option>
                    <option th:selected="${ticketStatus == 'Done'}" value="Done">Done</option>
                </select>
            </div>
            <div th:if="${#request.isUserInRole('ADMIN')}" class="form-group">
                <label for="priority">Priority</label>
                <select th:value="${ticketPriority}" style="background-color: #fff; width: 50%" class="form-control" id="priority" name="priority">
                    <option th:selected="${ticketPriority == 'Low'}" value="Low">Low</option>
                    <option th:selected="${ticketPriority == 'Medium'}" value="Medium">Medium</option>
                    <option th:selected="${ticketPriority == 'High'}" value="High">High</option>
                </select>
            </div>
            <div th:if="${#request.isUserInRole('ADMIN')}" class="form-group">
                <label for="assignedTo">Assigned To</label>
                <select th:value="${ticketAssignedTo}" style="background-color: #fff; width: 50%" class="form-control" id="assignedTo" name="assignedTo">
                    <th:block th:each="user : ${users}">
                        <option th:value="${user.email}" th:text="${user.email}"></option>
                    </th:block>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Ticket" class="btn btn-lg btn-primary"/>
            </div>
        </form>
    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/prism.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>